<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Gestión de Personas con Fotos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h1>📸 Registro de Personas</h1>

  <form id="formDatosFoto">
    <input type="number" id="id_persona" placeholder="ID Persona" required><br>
    <input type="text" id="nombre" placeholder="Nombre" required><br>
    <input type="text" id="apellido" placeholder="Apellido" required><br>
    <input type="file" id="foto" accept="image/*" required><br>
    <button type="submit">Guardar Datos y Foto</button>
  </form>

  <hr>
  <hr>
<h2>🔍 Ver Foto por ID de Mongo</h2>
<input type="text" id="mongo_id" placeholder="ID de la foto en Mongo">
<button id="btnVerFoto">Ver Foto</button>

<div id="mostrarFoto"></div>

  <button id="btnCargarDatos">Cargar y Mostrar Todos los Registros</button>

  <div id="contenedorDatos"></div>


  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
